@charset "utf-8";

body {
    /* background: lightskyblue; */
    background: url('../img/fond.png');
}

#container {
    width: 1000px;
    height: 820px;
    background: plum;
    margin: 0 auto;
}

/* HEADER ET LOGO */

header {
    width: 100%;
}

#logo {
    /****** background: red; ******/
    width: 400px;
    height: 150px;
   float: left;
}

.boutique {
    font-size: 3em;
    display: inline;
    margin-left: 20px;
}

.venteenligne {
    margin-left: 50px;
}

/****** FIN HEADER ET LOGO ******/

/* Besoin d'aide */

#aide {
    
    width: 300px;
    height: 150px;
   float: left;

}

.clear {
    clear: both;
}


/* Compte */

#compte {
    position: relative;
    text-align: center;     

}

.panier {
    display: inline-block;
    position: relative;
    bottom: 10px;
}



/* Nav */

nav {
    background: lightskyblue;
    margin: 0;
    height: 30px;
}

nav ul li{
    display: inline-block;
    margin-right: 80px;
   
}

ul li a {
    text-decoration: none;
}

ul li .accueil {
    background: pink;
}

/****** Modalités et  achats ******/

#modalités {
    height: 300px;
    display: inline-block;
}

#achats {
    width: 300px;
    top: 10px;
    float: left;
}

.descriptions {

    width: 400px;
    float: left;
    margin-right: 30px;
}

.services {
    float: right;
}




