@charset "utf-8";

body {
    background: lightskyblue;
    background: url('../img/fond.png');
}

#container {
    width: 1000px;
    height: 820px;
    background: plum;
    margin: 0 auto;
}

/* HEADER ET LOGO */

#logo {
    /****** background: red; ******/
    width: 40%;
    height: 150px;
}

.boutique {
    font-size: 3em;
    display: inline;
    margin-left: 20px;
}

.venteenligne {
    margin-left: 50px;
}

/****** FIN HEADER ET LOGO ******/

/* Besoin d'aide */

#aide {
    background: red;
    width: 30%;
    height: 150px;
   float: right;
}

